body {
    width: 550px;
    font: 10pt Verdana, Arial, Helvetica, sans-serif;
    margin-left:  50px;
    margin-right: 10%
}
h1 {
    font-size: 15pt;
    font-family: sans-serif;
    font-weight: normal;
    color: rgb(0, 0, 128);
    margin-top: 2em
}
pre {
    margin-left: 2em
}